site_name: Automating CI/CD using TeamCity and Spinnaker
site_url: https://mydomain.org/mysite

theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: blue
      accent: green

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: green

  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant.progress
    - navigation.expand
    - navigation.top

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_css:
  - css/extra.css

nav:
  - Welcome: index.md
  - Documentation:
      - Description: description.md
      - Tools: tools.md
      - Workflow: workflow.md
      - Features: features.md
      - Runbook: runbook.md
      - Recovery: recovery.md



# venv/Scripts/activate
# mkdocs serve